
# # Paths
# save_path: /gpfs/home5/fkarimi/exp/bird
# data_file: /gpfs/home5/fkarimi/data/combined_unique.csv
# model_checkpoint: /gpfs/home5/fkarimi/data/45_best.pth
# # General
# seed: 1234
# exp: 45
# # Cluster Parameters
# eps: 0.035  # Maximum distance between two samples for them to be considered as in the same neighborhood
# min_samples: 5  # Minimum number of samples in a neighborhood for a point to be considered as a core point

# ===========
# TEST
# ===========
# Paths
save_path:  # /home/fatemeh/Downloads/bird/results/125 # f_mem1_1 # f_mem1_bal5_gull_fc, f_mem2_bal1_gull_fc # emb_bal3_fc
# data_file: /home/fatemeh/Downloads/bird/data/final/combined_unique.csv
data_file: /home/fatemeh/Downloads/bird/data/ssl/final/gull  # /home/fatemeh/Downloads/bird/data/ssl_mini # /home/fatemeh/Downloads/bird/data/ssl/final
test_data_file: /home/fatemeh/Downloads/bird/data/final/proc2/starts.csv #final/proc2/s_correct.csv, test.csv, final/s_data_shift/s_data_unbalanced.csv, orig/s_data_orig.csv, s_data/s_data_unbalanced.csv, s_data_unbalance_1378, s_data_balanced.csv # unbalance_1378.csv, balanced.csv, corrected_combined_unique_sorted012.csv
model_checkpoint: /home/fatemeh/Downloads/bird/results/134_best.pth #13_best.pth, f_mem1_half_data_best.pth, f_mem1_1_best.pth, f_mem1_bal116_best.pth, f_mem1_bal5_best.pth, f_mem2_bal1_best.pth # f_mem1_bal3_best.pth # 45_best.pth #/home/fatemeh/Downloads/bird/snellius/p20_1_1500.pth
# Data
all_labels: [0, 1, 2, 3, 4, 5, 6, 8, 9]
lt_labels: [2, 3, 4, 6, 9]
discover_labels: 
data_labels: # [0, 1, 2, 3, 4, 5, 6, 8, 9], [0, 2, 4, 5, 6, 9]
trained_labels: # [0, 1, 2, 3, 4, 5, 6, 8, 9], [0, 2, 4, 5, 6, 9]
# General
seed: 1234
num_workers: 1 # 15
layer_name: fc # norm # fc # avgpool
model:
  name: small
  channel_first: True
  # name: mae
  # channel_first: False
# g_len: 60  # 60, 20
# in_channel: 4
# out_channel: 9
# embed_dim: 16  # 256, 16
# depth: 1  # 6, 1
# num_heads: 8
# decoder_embed_dim: 16  # 256, 16
# decoder_depth: 1  # 6, 1
# decoder_num_heads: 8
# mlp_ratio: 4
# drop: 0.0
# layer_norm_eps: 1e-6
# # Model
# g_len: 20
# in_channel: 4
# out_channel: 9
# patch_size: 1
# embed_dim: 16  # 256, 16
# depth: 1  # 6, 1
# num_heads: 8
# decoder_embed_dim: 16  # 256, 16
# decoder_depth: 1  # 6, 1
# decoder_num_heads: 8
# mlp_ratio: 4
# drop: 0.0
# layer_norm_eps: 1e-6
# Model
g_len: 20
in_channel: 4
mid_channel: 30
out_channel: 5 # 6, 9
patch_size: 1
embed_dim: 256  # 256, 16
depth: 6  # 6, 1
num_heads: 8
decoder_embed_dim: 256  # 256, 16
decoder_depth: 6  # 6, 1
decoder_num_heads: 8
mlp_ratio: 4
drop: 0.0
layer_norm_eps: 1e-6
# Cluster Parameters
eps: 0.035  # Maximum distance between two samples for them to be considered as in the same neighborhood
min_samples: 5  # Minimum number of samples in a neighborhood for a point to be considered as a core point
use_unlabel: False # use unlabeled data
# Parameters for MiniBatchKMeans
n_clusters: 9 #[8,9,10,11,12,13,14,15,16,17,18] #[9, 10, 18]  # Test multiple cluster numbers
batch_size: [8192] #[8192, 16384, 32768] #[1024, 2048, 4096, 8192, 16384]  # Test multiple batch sizes # 1024, 4096
normalize: no
n_init: 1 # number of random restarts
epochs: 1
# Visualization
perplexity: 30 # TSNE
n_neighbors: 15 # UMAP
min_dist: 0.1 # UMAP
