
# # Paths
# save_path: /gpfs/home5/fkarimi/exp/bird
# data_file: /gpfs/home5/fkarimi/data/combined_unique.csv
# model_checkpoint: /gpfs/home5/fkarimi/data/45_best.pth
# # General
# seed: 1234
# exp: 45
# # Cluster Parameters
# eps: 0.035  # Maximum distance between two samples for them to be considered as in the same neighborhood
# min_samples: 5  # Minimum number of samples in a neighborhood for a point to be considered as a core point

# ===========
# TEST
# ===========
# Paths
save_path: /home/fatemeh/Downloads/bird/result/125 # f_mem1_1 # f_mem1_bal5_gull_fc, f_mem2_bal1_gull_fc # emb_bal3_fc
# data_file: /home/fatemeh/Downloads/bird/data/final/combined_unique.csv
data_file: /home/fatemeh/Downloads/bird/data/ssl/final/gull  # /home/fatemeh/Downloads/bird/data/ssl_mini # /home/fatemeh/Downloads/bird/data/ssl/final
test_data_file: /home/fatemeh/Downloads/bird/data/final/proc2/starts.csv #final/proc2/s_correct.csv, test.csv, final/s_data_shift/s_data_unbalanced.csv, orig/s_data_orig.csv, s_data/s_data_unbalanced.csv, s_data_unbalance_1378, s_data_balanced.csv # unbalance_1378.csv, balanced.csv, corrected_combined_unique_sorted012.csv
model_checkpoint: /home/fatemeh/Downloads/bird/result/134_best.pth #13_best.pth, f_mem1_half_data_best.pth, f_mem1_1_best.pth, f_mem1_bal116_best.pth, f_mem1_bal5_best.pth, f_mem2_bal1_best.pth # f_mem1_bal3_best.pth # 45_best.pth #/home/fatemeh/Downloads/bird/snellius/p20_1_1500.pth
# Data
lt_labels: [2, 3, 4, 6, 9]
discover_labels: 
labels_to_use: # [0, 1, 2, 3, 4, 5, 6, 8, 9], [0, 2, 4, 5, 6, 9]
labels_trained: # [0, 1, 2, 3, 4, 5, 6, 8, 9], [0, 2, 4, 5, 6, 9]
# General
seed: 1234
num_workers: 1 # 15
layer_name: fc # norm # fc # avgpool
model:
  name: small
  channel_first: True
  # name: mae
  # channel_first: False
# g_len: 60  # 60, 20
# in_channel: 4
# out_channel: 9
# embed_dim: 16  # 256, 16
# depth: 1  # 6, 1
# num_heads: 8
# decoder_embed_dim: 16  # 256, 16
# decoder_depth: 1  # 6, 1
# decoder_num_heads: 8
# mlp_ratio: 4
# drop: 0.0
# layer_norm_eps: 1e-6
# # Model
# g_len: 20
# in_channel: 4
# out_channel: 9
# patch_size: 1
# embed_dim: 16  # 256, 16
# depth: 1  # 6, 1
# num_heads: 8
# decoder_embed_dim: 16  # 256, 16
# decoder_depth: 1  # 6, 1
# decoder_num_heads: 8
# mlp_ratio: 4
# drop: 0.0
# layer_norm_eps: 1e-6
# Model
g_len: 20
in_channel: 4
out_channel: 5 # 6, 9
patch_size: 1
embed_dim: 256  # 256, 16
depth: 6  # 6, 1
num_heads: 8
decoder_embed_dim: 256  # 256, 16
decoder_depth: 6  # 6, 1
decoder_num_heads: 8
mlp_ratio: 4
drop: 0.0
layer_norm_eps: 1e-6
# Cluster Parameters
eps: 0.035  # Maximum distance between two samples for them to be considered as in the same neighborhood
min_samples: 5  # Minimum number of samples in a neighborhood for a point to be considered as a core point
# Parameters for MiniBatchKMeans
n_clusters: 9 #[8,9,10,11,12,13,14,15,16,17,18] #[9, 10, 18]  # Test multiple cluster numbers
batch_size: [8192] #[8192, 16384, 32768] #[1024, 2048, 4096, 8192, 16384]  # Test multiple batch sizes # 1024, 4096
normalize: no
n_init: 1 # number of random restarts
epochs: 1
# Visualization
perplexity: 30 # TSNE
n_neighbors: 15 # UMAP
min_dist: 0.1 # UMAP

# ### GCD
# Data:   Unlabel: /home/fatemeh/Downloads/bird/data/ssl/final/*.csv,{/gull/*.csv}, 
#   Label: /home/fatemeh/Downloads/bird/data/final/proc2/starts.csv
#   Balanced: /home/fatemeh/Downloads/bird/data/final/s_data:create_balanced_data, /home/fatemeh/Downloads/bird/data/final/balanced.csv:balance_data
# Model:  
#   Self Supervised: /home/fatemeh/Downloads/bird/snellius/ p20_1_1500.pth:cp+gull,20, p20_2_1500.pth:gull,20, p_mem6_500.pth:cp+gull,60
#   Fine Tune: /home/fatemeh/Downloads/bird/result/ f_mem2_1,starts,9; f_mem2_2,starts,6
#   Small: /home/fatemeh/Downloads/bird/result/ 125_best.pth:starts,9; exp132:starts,6;
# Experiment:
#   Sanity: 125(small,starts,9),6use,3discover,(avg|fc)
#   Sanity: (p20_2,all,starts,9),6use,3discover,(norm|fc))
#   Unbala: 132(small,starts,6),6use,3discover,(avg|fc)

# old: Maybe removed
# =====
# f_mem1_bal5.pth 5 classes no sitstand
# exp121, f_mem1_bal121_best.pth, 121_best.pth 6 classes
# f_mem1_half_data_best.pth, 113_best.pth 9 classes

# Classification results: old
# =====
# 4516 4694 # small
# 4532 4694 # ft: large 9 classes f_mem1
# 2080 2184 # ft: large 9 classes small on balance data
# 2084 2184 # ft: large 9 classes f_mem1 on balance data
# 2034 2184 # ft: large 6 classes f_mem_bal1
# 2020 2184 # ft: large 6 classes f_mem_bal2
# 2065 2184 # ft: large 6 classes f_mem1_bal3
# 1999 2184 # ft: large 6 classes f_mem_bal4
# 4068 4327 # ft: large 6 classes f_mem1_bal3

# GCD results: old
# =====
# ft: large 6 classes f_mem1_bal3
# mo: 119 2065 2184 0.95
# ss: 110 2074 2184 0.95 # fc
# ss: 127 2057 2184 0.94 # norm
# us: 186 1998 2184 0.91 # fc
# us: 299 1885 2184 0.86 # norm
# us: 130 2054 2184 0.94 # norm f_mem_bal1
#
# ft: large 6 classes f_mem_bal1 unbalance_1378
# mo:  259 4068 4327 0.94
# ss:  220 4107 4327 0.95 # fc
# ss:  495 3832 4327 0.89 # norm
# us:  311 4016 4327 0.93 # fc
# us:  324 4003 4327 0.93 # norm
#
# ft: large 6 classes f_mem_bal1 corrected_combined_unique_sorted012 6 given 3 predicted
# mo:  435 4259 4694 0.91
# ss:  152 4542 4694 0.97 # fc
# ss:  440 4254 4694 0.91 # fc with 2000 samples
# us:  1202 3492 4694 0.74 # fc # 1151 3543 4694 0.75 chaged after loading
#
# ft: large 6 classes f_mem1_bal4 (only fc trained.)
# mo: 185 1999 2184 0.92
# ss: 230 1954 2184 0.89 # norm
# us: 495 1689 2184 0.77 # norm
#
# ft: large 9 classes f_mem1
# mo: 100 2084 2184 0.95
# ss: 382 1802 2184 0.83 # norm
# us: 484 1700 2184 0.78 # norm
#
# small: 9 classes
# mo: 104 2080 2184 0.95 # avgpool
# ss: 403 1781 2184 0.82 # avgpool
# ss: 432 1752 2184 0.80 # fc
# us: 510 1674 2184 0.77 # avgpool
# us: 503 1681 2184 0.77 # fc

# 1092 1092 2184 # balanced data
# 2313 2014 4327 # unbalance_1378