# Paths
save_path: "/home/fatemeh/Downloads/bird/result"
data_file: /home/fatemeh/Downloads/bird/data/final/proc2/starts.csv #final/proc2/train.csv #"final/s_data_shift/s_data_balanced_1.csv" # 
valid_file: #/home/fatemeh/Downloads/bird/data/final/proc2/valid.csv
test_file: #/home/fatemeh/Downloads/bird/data/final/proc2/test.csv
# General
seed: 32984
exp: 134  # Experiment number
num_workers: 1 # 1, 15
no_epochs: 4000
save_every: 4000
# Data
train_per: 0.9
data_per: 1.0
batch_size: # 4096, 4241 if not given len(train_dataset)
labels_to_use: [2, 3, 4, 6, 9] # [0, 1, 2, 3, 4, 5, 6, 8, 9] [0, 2, 4, 5, 6, 9]
# Training
warmup_epochs: 1000
step_size: 2000
max_lr: 3e-4
min_lr: 
weight_decay: 1e-2  # Default 1e-2
use_weighted_loss: False  # Whether to use weighted CrossEntropyLoss
optimizer_name: "AdamW"
scheduler_name: "StepLR"
# Model
model:
  name: BirdModel
  parameters:
    in_channels: 4
    mid_channels: 30
    out_channels: 5
  # name: ResNet18_1D
  # parameters:
  #   dropout: 0.3
  #   num_classes: 9
  # name: BirdModelTransformer
  # parameters:
  #   out_channels: 9
  #   embed_dim: 16
  #   drop: 0.7
  # name: TransformerEncoderMAE
  # parameters:
  #   img_size: 20
  #   in_chans: 4
  #   out_chans: 9
  #   embed_dim: 16
  #   depth: 1
  #   num_heads: 8
  #   mlp_ratio: 4
  #   drop: 0.0
  #   layer_norm_eps: 1e-6
  # name: BirdModelTransformer_
  # parameters:
  #   in_channels: 4
  #   out_channels: 9
